.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 40px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-radius: 20px;
}
.btn:hover {
    background: transparent;
    color: #7579e7;
    border: 1px solid #7579e7;
    transition: 0.5s;
}

.solid {
    background: #7579e7;
    color: white;
    border: 1px solid #7579e7;
}

.transparent {
    background: transparent;
    color: black;
    border: 1px solid black;
}

.block {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 20px;
}



#back-to-top {
    width: 50;
    height: 50px;
    position: fixed; /* Fixed/sticky position */
    bottom: -50px; /* Place the button at the bottom of the page */
    right: -50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 50%; /* Rounded corners */  
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    outline: none;
}

#back-to-top i {
    color: white;
    font-size: 25px;
}

#back-to-top:hover i {
    color: #7579e7;
    font-size: 25px;
}
@media (max-width: 991px) {
    #back-to-top {
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
    }
}

